
Placeholder Generation
======================

With this configuration, for each entry of the configuration file, the plugin generates a placeholder based on the key name.


    <plugin>
        <groupId>com.xebialabs.utils</groupId>
        <artifactId>placeholders-mustachifier-maven-plugin</artifactId>
        <version>${project.version}</version>
        <configuration>
            <filesets>
                <fileset>
                    <directory>target/classes/com/myproject/resources</directory>
                    <include>*.properties</include>
                </fileset>
            <filesets>
        </configuration>
        <executions>
            <execution>
                <phase>compile</phase>
                <goals>
                    <goal>mustache-property-generate</goal>
                </goals>
            </execution>
        </executions>
    </plugin>
    <pluginRepositories>
        <pluginRepository>
            <id>bintray</id>
             <url>http://dl.bintray.com/bmoussaud/maven</url>
            <releases>
                <enabled>true</enabled>
            </releases>
            <snapshots>
                <enabled>false</enabled>
            </snapshots>
        </pluginRepository>
    </pluginRepositories>
  



The property file **before** the plugin execution

    param1=3000
    param2={{param22}}
    param3=44
    param4.endpoint=http://localhost:8909/services


The property file **after** the plugin execution

    param1={{param1}}
    param2={{param22}}
    param3={{param3}}
    param4.endpoint={{param4.endpoint}}




